Smart Home Manage Screen <br>
<form action = '' method = 'POST'>
    {% csrf_token %}
    Home : {{test}} <br>
    <a href='lrooms'>Living Room</a> <br>
    <a href='drooms'>Dining Room</a> <br>
    <a href='prooma'>Private Room A</a> <br>
    <a href='proomb'>Private Room B</a> <br>
    <a href='brooma'>Bath Room A</a> <br>
    <a href='broomb'>Bath Room B</a> <br>
    <a href='vrooma'>Veranda A</a> <br>
    <a href='vroomb'>Veranda B</a> <br>
    <a href='hllwys'>Hall Ways</a> <br>
    <a href='login'>Logout</a> <br>
</form>

